/*=========Styles=========*/
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 367px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*=========/Styles=========*/

/*=========Mobile Header Styles=========*/
.menu {
  display: none;
}
.contact-info {
  display: none;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
}

.logo-header {
  color: #2e2f42;
}

/*=========/Mobile Header Styles=========*/

/*=========Tablet Header Styles=========*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}
.mobile-burger-button {
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #111;
  line-height: 0;
}
.order-main-nav {
  display: flex;
  justify-content: space-between;
}

/*=========/Tablet Header Styles=========*/
/*=========Desktop Header Styles=========*/
@media screen and (min-width: 1168px) {
  .container: {
    max-width: 1158px;
  }
}

/*=========/Desktop Header Styles=========*/
