/*=========Styles=========*/
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 367px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}

/*=========/Styles=========*/

/*=========Mobile Header Styles=========*/
.menu {
  display: none;
}

.page-header {
  border-bottom: none;
  box-shadow: none;
}
.order-main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
}

.logo-header {
  color: #2e2f42;
}

.link-studio {
  color: #404bbf;
}

.mobile-address-links {
  color: #4d5ae5;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.mobile-mail {
  color: #434455;
}

.mobile-smc-modal-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.mobile-info-smc {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #fff;
  justify-content: center;
  align-items: center;
}
.mobile-page-nav-links {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  margin: 0 auto;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.mobile-burger-button {
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #111;
  line-height: 0;
}
.mobile-modal-menu-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  transform: translateX(100%);
}
.mobile-modal-menu-wrapper.is-open {
  transform: translateX(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-mobile-modal-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: transparent;
  border-color: #e7e9fc;
  padding: 0;
  line-height: 0;
  stroke: rgba(0, 0, 0, 0.1);
}
.mobile-open-window-container {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  margin: 0 auto;
}
.mobile-list-page-nav {
  margin: 0 auto;
}

.mobile-page-nav:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-address-container {
  margin-top: auto;
}
.mobile-header-address-list {
  margin-bottom: 48px;
}
.mobile-address-info:not(:last-child) {
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 17px;
    padding-bottom: 19px;
    border-bottom: none;
    box-shadow: none;
  }
  .contact-info {
    display: none;
  }
}

/*=========/Mobile Header Styles=========*/
/*=========Mobile Order Section Styles=========*/
.solutions-section {
  background: var(--GREY, rgba(46, 47, 66, 0.7));
  padding-bottom: 72px;
}
.main-title {
  width: 288px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
  padding-top: 72px;
}
.order-btn {
  border-radius: 4px;
  display: block;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}
/*=========/Mobile Order Section Styles=========*/

/*=========Mobile Backdrop Styles=========*/
.backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  padding-top: 72px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*=========/Mobile Backdrop Styles=========*/

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }

  /*=========Tablet Header Styles=========*/

  .mobile-modal-menu-wrapper {
    display: none;
  }
  .mobile-burger-button {
    display: none;
  }
  .link-studio::after {
    display: block;
    left: 0;
    bottom: -1px;
    content: "";
    margin-top: 20px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
  }
  .contact-info {
    font-style: normal;
  }
  .menu {
    background-color: #ffffff;
    display: flex;
    gap: 40px;
    display: flex;
    align-items: center;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .logotype-header {
    margin-right: 117px;
  }

  .menu-link {
    text-decoration: none;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-studio {
    color: #404bbf;
    position: relative;
    display: flex;
    align-items: center;
  }

  .contact-menu-info {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    display: block;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-menu-info:hover,
  .contact-menu-info:focus {
    color: #404bbf;
  }
  .mail {
    padding-bottom: none;
  }
  /*=========/Tablet Header Styles=========*/
  /*=========Tablet Solution Section Styles=========*/
  .main-title {
    width: 496px;
    margin: 0 auto;
    text-align: center;
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
  }
}

/*=========/Tablet Solution Section Styles=========*/

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1158px;
  }
  .contact-menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .logotype-header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

/*=========Desktop Header Styles=========*/

/*=========/Desktop Header Styles=========*/
