/*=========Styles=========*/
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
}
.accent-color-checkbox {
  text-decoration: underline;
  color: #4d5ae5;
}

/*=========/Styles=========*/

/*=========Mobile Header Styles=========*/
.menu {
  display: none;
}

.page-header {
  border-bottom: none;
  box-shadow: none;
}
.order-main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
}

.logo-header {
  color: #2e2f42;
}

.link-studio {
  color: #404bbf;
  display: block;
  padding: 24px 0;
}

.mobile-address-links {
  color: #4d5ae5;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.mobile-mail {
  color: #434455;
}

.mobile-smc-modal-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.mobile-info-smc {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #fff;
  justify-content: center;
  align-items: center;
}
.mobile-page-nav-links {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  margin: 0 auto;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.mobile-burger-button {
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #111;
  line-height: 0;
}
.mobile-modal-menu-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  transform: translateX(100%);
}
.mobile-modal-menu-wrapper.is-open {
  transform: translateX(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-mobile-modal-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: transparent;
  border-color: #e7e9fc;
  padding: 0;
  line-height: 0;
  stroke: rgba(0, 0, 0, 0.1);
}
.mobile-open-window-container {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}
.mobile-list-page-nav {
  margin: 0 auto;
}

.mobile-page-nav:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-address-container {
  margin-top: auto;
}
.mobile-header-address-list {
  margin-bottom: 48px;
}
.mobile-address-info:not(:last-child) {
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 17px;
    padding-bottom: 19px;
    border-bottom: none;
    box-shadow: none;
  }
  .contact-info {
    display: none;
  }
}

/*=========/Mobile Header Styles=========*/
/*=========Mobile Order Section Styles=========*/
.solutions-section {
  background: rgba(46, 47, 66, 0.7);
  padding-bottom: 72px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(..//images/bg_1section/Mobile_Dark-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .solutions-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(..//images/bg_1section/Mobile_Dark_bg@2x.jpg);
  }
}

.order-container {
  display: flex;
  flex-direction: column;
}
.main-title {
  width: 288px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
  padding-top: 72px;
}
.order-btn {
  border-radius: 4px;
  display: block;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}
/*=========/Mobile Order Section Styles=========*/

/*=========Mobile Backdrop Styles=========*/
.backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  padding-top: 72px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  display: flex;
  padding: 0;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke: rgba(0, 0, 0, 0.1);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-modal-window {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-label {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.04em;
}
.form-icon-wrapper {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  stroke: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrapper-comment {
  margin-bottom: 16px;
}
.comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}
.form-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}
.send-form-btn {
  display: block;
  border: none;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.new-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  stroke-width: 1px;
  stroke: rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
}
/*=========/Mobile Backdrop Styles=========*/
/*=========Mobile Section Principles Styles=========*/
.div-icon {
  display: none;
}
.text-info {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 96px;
}
.menu-info-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02;
  text-transform: capitalize;
}
.menu-info-prgh {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.menu-info-item {
  display: block;
}
/*=========/Mobile Section Principles Styles=========*/
/*=========/Mobile Section OUR TEAM Styles=========*/

.color-team {
  background: #f4f4fd;
}
.container {
  max-width: 296px;
}
.title-section {
  text-align: center;
  padding-bottom: 72px;
}
.team-container {
  display: block;
  text-align: center;
  padding: 32px 0;
  border-top: none;
}
.menu-info {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
}
.menu-info-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.social-media-card {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.menu-info-social-icon {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cocial-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
.menu-info-shadow {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/*=========/Mobile Section OUR TEAM Styles=========*/
/*=========Mobile Portfolio Section Styles=========*/
.text-overlay {
  display: none;
}
.text-info-app {
  padding: 96px 0;
}
.text-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.menu-info-app-img {
  max-width: 100%;
  height: auto;
  padding-bottom: 32px;
}
.portfolio-container {
  display: block;
  row-gap: 24px;
  padding: 32px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.menu-info-app {
  background-color: #ffffff;
  display: flex;
  margin-top: 72px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-container {
  padding-bottom: 32px;
}
.menu-info-app-prgh {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/*=========/Mobile  Portfolio Section Styles=========*/
/*=========Mobile  Footer  Styles=========*/
.main-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.container-footer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-text {
  color: #f4f4fd;
  width: 288px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-bottom: 72px;
}
.logo-footer {
  color: #f4f4fd;
  line-height: 1.17;
  display: inline-block;
}
.logotype-footer {
  width: 116px;
  margin-bottom: 16px;
}
.container-footer-links {
  margin-right: auto;
  margin-left: auto;
}
.footer-links-text {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.menu-info-social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: column;
}

.cards-footer {
  gap: 16px;
  margin-bottom: 72px;
}

.email {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
}

.text-form {
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.email-form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.subscribe {
  max-width: 288px;
}
.form-btn {
  display: flex;
  border-radius: 4px;
  background: #4d5ae5;
  min-width: 165px;
  height: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
.form-btn-icon {
  margin-left: 16px;
  fill: #fff;
}
.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}
/*=========/Mobile  Footer  Styles=========*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /*=========Tablet Header Styles=========*/

  .mobile-modal-menu-wrapper {
    display: none;
  }
  .mobile-burger-button {
    display: none;
  }
  .link-studio::after {
    display: block;
    left: 0;
    bottom: -1px;
    content: "";
    margin-top: 20px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
  }
  .contact-info {
    font-style: normal;
  }
  .menu {
    background-color: #ffffff;
    display: flex;
    gap: 40px;
    display: flex;
    align-items: center;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .logotype-header {
    margin-right: 117px;
  }

  .menu-link {
    text-decoration: none;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-studio {
    color: #404bbf;
    position: relative;
    display: flex;
    align-items: center;
  }
  .contact-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 13px;
  }

  .contact-menu-info {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    display: block;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-menu-info:hover,
  .contact-menu-info:focus {
    color: #404bbf;
  }
  .mail {
    padding-bottom: none;
  }
  /*=========/Tablet Header Styles=========*/
  /*=========Tablet Solution Section Styles=========*/
  .solutions-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(..//images/bg_1section/Tablet_Dark_bg.jpg);
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .solutions-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(..//images/bg_1section/Tablet_Dark_bg@2x.jpg);
    }
  }
  .main-title {
    width: 496px;
    margin: 0 auto;
    text-align: center;
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
  }
  /*=========/Tablet Solution Section Styles=========*/
  /*=========Tablet Backdrop Styles=========*/
  .modal {
    width: 408px;
    padding-left: auto;
    padding-right: auto;
  }
  .text-modal-window {
    width: 360px;
  }
  .comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    border: none;
    background-color: #404bbf;
    fill: #ffffff;
  }

  .modal-icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-label,
  .form-checkbox-label {
    display: block;
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    margin-bottom: 4px;
  }

  .modal-form-input {
    margin-bottom: 8px;
  }
  /*=========/Tablet Backdrop Styles=========*/
  /*=========Tablet Section Principles Styles=========*/
  .menu-info {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  .menu-info-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: start;
  }

  /*=========/Tablet Section Principles Styles=========*/
  /*=========Tablet OUR TEAM Section  Styles=========*/
  .text-info {
    padding: 96px 0;
  }
  .menu-info {
    flex-direction: row;
  }

  .menu-info-img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .menu-info-title {
    text-align: center;
  }

  .team-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  /*=========/Tablet OUR TEAM Section Styles=========*/
  /*=========Tablet Portfolio Section Styles=========*/
  .menu-info-app-item {
    width: calc((100% - 72px) / 2);
  }
  /*=========/Tablet Portfolio Section Styles=========*/
  /*=========Tablet Footer Section Styles=========*/
  .footer-info-container {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    margin: 0 auto;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
  }
  .container-footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe {
    max-width: none;
  }
  .text-form {
    margin-left: 0;
    margin-right: 0;
  }
}

/*=========Desktop Header Styles=========*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .contact-menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .logotype-header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .menu-link-studio:active {
    color: #404bbf;
  }
  .contact-menu-info:hover,
  .contact-menu-info:focus {
    color: #404bbf;
  }
  /*=========Desktop Backdrop Styles=========*/
  .modal-icon-close:hover,
  .modal-icon-close:focus {
    fill: #ffffff;
  }

  .privacy-checkbox:checked + .form-checkbox-label > .new-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #f4f4fd;
  }
  .privacy-checkbox:focus + .form-checkbox-label > .new-checkbox {
    border: none;
  }
  .modal-form-input:focus {
    border-color: #4d5ae5;
  }
  .privacy-checkbox:checked + .form-checkbox-label .checkbox-icon {
    opacity: 1;
  }
  .modal-form-input:focus + .form-icon {
    fill: #4d5ae5;
    stroke: #4d5ae5;
  }
  .send-form-btn:hover,
  .send-form-btn:focus {
    background-color: #404bbf;
  }
  .comment:focus {
    border-color: #4d5ae5;
  }
  .comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }

  /*=========/Desktop Backdrop Styles=========*/
  /*=========Desktop Order Section Styles=========*/
  .solutions-section {
    width: 1440px;
    height: 600px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(..//images/bg_1section/Desktop_people_office.jpg);
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .solutions-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(..//images/bg_1section/Desktop_people_office@2x.jpg);
    }
  }
  .order-container {
    padding-top: 188px;
  }
  .text-info {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .menu-info {
    flex-wrap: nowrap;
  }
  .menu-info {
    display: flex;
    gap: 24px;
  }
  .div-icon {
    width: 264px;
    height: 112px;
    display: flex;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    fill: #2e2f42;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
  }
  .svg.icon {
    display: flex;
    width: 64px;
  }
  .menu-info-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
  }
  .menu-info-prgh {
    font-weight: 400;
  }

  /*=========Desktop Solution Styles=========*/

  .order-btn {
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .order-btn:hover,
  .order-btn:focus {
    background: #404bbf;
  }
  /*=========/Desktop Solution Styles=========*/
  /*=========Desktop OUR TEAM Section Styles=========*/
  .overlay {
    position: relative;
    overflow: hidden;
  }
  .menu-info-app-item:hover .overlay p {
    transform: translateY(0%);
  }
  .menu-info-app-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .overlay p {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    width: 100%;
    height: 300px;
    transform: translateY(100%);
    padding-right: 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
  }
  .text-overlay {
    color: #f4f4fd;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }
  .text-info {
    padding: 120px 0;
  }
  .section .menu-info-item {
    width: calc((100% - 24px) / 4);
    border-radius: 0px 0px 4px 4px;
  }
  .menu-info-item {
    margin-bottom: 120px;
  }
  .menu-info-social-icon {
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-info-social-icon:hover,
  .menu-info-social-icon:focus {
    background-color: #404bbf;
  }

  /*=========/Desktop OUR TEAM Section Styles=========*/
  /*=========Desktop Portfolio Section Styles=========*/
  .menu-info-app-item {
    width: calc((100% - 72px) / 3);
  }
  .menu-info-app-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-info-app-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .overlay {
    position: relative;
    overflow: hidden;
  }
  .menu-info-app-item:hover .overlay p {
    transform: translateY(0%);
  }
  .overlay p {
    color: #f4f4fd;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    width: 100%;
    height: 300px;
    transform: translateY(100%);
    padding-right: 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
  }
  /*=========/Desktop Portfolio Section Styles=========*/
  /*=========Desktop Footer Section Styles=========*/
  .footer-info-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
  }
  .footer-icon:hover,
  .footer-icon:focus {
    background-color: #31d0aa;
  }

  /*=========/Desktop Footer Section Styles=========*/
}
